<div [formGroup]="form" class="course-details-form">

  <mat-form-field appearance="outline">

    <mat-label>Course title</mat-label>
    <input #title matInput formControlName="title">
    <mat-hint align="end">
      {{title.value.length}} / 60
    </mat-hint>

    <mat-error *ngIf="courseTitle.errors?.minlength">
      A minimum length of 5 characters is required.
    </mat-error>

  </mat-form-field>

  <mat-radio-group class="course-type" formControlName="courseType">

    <mat-radio-button value="free">Free</mat-radio-button>

    <mat-radio-button value="premium">Premium</mat-radio-button>

  </mat-radio-group>

  <mat-form-field appearance="outline">

    <mat-label>{{categoryCombobox.value ? 'Category': 'Select category'}}</mat-label>

    <mat-select formControlName="category" #categoryCombobox>

      <mat-optgroup label="Beginners">
        <mat-option value="NEWTOPROGRAMMING">New to Programming</mat-option>
        <mat-option value="NEWTOJAVASCSRIPT">New to Javascript</mat-option>
        <mat-option value="NEWTOANGULAR">New to Angular</mat-option>
      </mat-optgroup>

      <mat-optgroup label="Interm/Advanced">
        <mat-option value="INTERMEDIATE">Intermediate</mat-option>
        <mat-option value="ADVANCED">Advanced</mat-option>
      </mat-optgroup>

    </mat-select>

  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Release Date</mat-label>

    <input matInput formControlName="releasedAt" placeholder="Release date" [matDatepicker]="releasedDatePicker">

    <mat-datepicker-toggle matSuffix [for]="releasedDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #releasedDatePicker [dateClass]="dateClass">

    </mat-datepicker>

  </mat-form-field>

  <mat-checkbox color="primary" formControlName="downloadsAllowed">
    Downloads allowed ?
  </mat-checkbox>

</div>



